<input
        type="checkbox"
        [id]="member.email"
        [value]="member.email"
        class="hidden peer"
        [required]="true"
        [disabled]="isDisabled"
        (click)="handleCheckboxClick()"
      />
      <label
        [htmlFor]="member.email"
        class="break-all inline-flex items-center justify-between w-full p-3 text-gray-500 bg-gray-200 border-2 cursor-pointer dark:hover:text-gray-200 peer-checked:border-green-600 hover:text-gray-600 dark:peer-checked:text-green-400 peer-checked:text-gray-900 hover:bg-gray-300 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-900
        {{member.status === 'accepted'?'':(member.status === 'declined'? 'border-red-600':'dark:border-gray-600 border-gray-300') }}
        "
      >
        <div class="flex gap-3">
          <div class="w-full md:text-lg font-semibold">
            {{ member.email }}
            <div
              class="font-light md:text-sm 
              {{member.status === 'accepted' ? 'text-green-400':(member.status === 'declined' ? 'text-red-600':'text-yellow-500') }} ">
              {{ member.status }}
            </div>
          </div>
        </div>
      </label>