<div class="my-3" *ngIf="invitationMembers.length">
    <h1 class="text-slate-400">Selected Members</h1>
    <div class="flex flex-wrap gap-1">
        <div *ngFor="let member of invitationMembers">
            <app-badges [text]="member" (btnClick)="removeMember(member)"></app-badges>
        </div>
    </div>
</div>
<p class="text-end dark:text-slate-300 text-gray-600">Add multiple email by enter or space</p>
<form class="justify-end" (ngSubmit)="onSubmitInviteToWorkspace()">
    <input type="text" id="text"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light max-w-2xl"
        placeholder="eg : demo@gmail.com" name="invitationMail" [(ngModel)]="invitationEmail"
        (keydown)="onKeyPress($event)">
    <p class="text-red-400">{{invitationEmailError}}</p>
    <div class="text-end">
        <app-button
            design="mt-5 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
            text="Invite Members" type="submit"></app-button>
    </div>
</form>