<form (ngSubmit)="onSubmitCreateWorkspace()" class="text-center ">
    <div class="flex gap-5 w-full">
        <div class="w-[80%]">
            <label for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-start">Workspace
                Name</label>
            <input type="text" id="text"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light max-w-2xl"
                placeholder="eg : Demo Office" name="workspaceName" [(ngModel)]="workspaceDetails.workspaceName">
        </div>
        <div class="items-start ">
            <label for="color Pikcer"
                class="md:block hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-start">Theme
            </label>
            <ngx-colors ngx-colors-trigger [(ngModel)]="workspaceDetails.color" name="color"></ngx-colors>
        </div>
    </div>
    <app-button type="submit"
        design="mt-5 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        [text]="buttonText"></app-button>
</form>